.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.ai-b {
    align-items: baseline;
}

.jc-center {
    justify-content: center;
}

.flex-cl {
    display: flex;
    flex-direction: column;
}

.ta-center {
    text-align: center;
}