$mainText: #242424;
$secondText: #50B520;
$btn: linear-gradient(93.26deg, #FBDB6A 5.19%, #FFEBA3 49.97%, #FBDB6A 95.49%);
$btnBorder: #E8C240;
$btnHover: linear-gradient(93.62deg, #FFCF23 -1.99%, #FCE287 52.26%, #FFCE23 107.41%);
$radio: linear-gradient(180deg, #FEE9A1 0%, #FFDD64 100%);