@media(max-width: 1620px) {
    .container {
        padding: 0 40px;
    }
}

@media(max-width: 1120px) {
    .header {
        &-content {
            .contact-info {
                &__item {
                    &:first-child {
                        margin-right: 50px;
                    }

                    .person-info {
                        font-size: 20px;

                        span {
                            font-size: 24px;
                        }
                    }

                    a {
                        font-size: 18px;

                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .main {
        .project-block {
            &__item {
                .hint {
                    display: none;
                }

                .hint-mobile {
                    display: block;
                    right: 0;
                    top: 0;
                    font-size: 16px;
                    padding-top: 7px;
                    padding-left: 16px;
                    height: 31px;
                }
            }
        }
    }
}

@media(max-width: 900px) {
    .container {
        padding: 0;
    }

    .header {
        padding: 0 25px;

        &-content {
            .contact-info {
                &__item {
                    .person-info {
                        font-size: 18px;

                        span {
                            font-size: 20px;
                        }
                    }

                    a {
                        font-size: 16px;

                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .main {
        padding: 100px 0 0;

        .container {
            max-width: 650px;
        }

        .notation {
            display: flex;
            justify-content: space-between;

            &-item {
                font-size: 14px;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        .project-block {
            &__item {
                .title {
                    margin-top: 50px;
                }

                .project-list {
                    margin-top: 30px;
                    list-style-type: none;

                    &__item {
                        width: 650px;
                    }

                    .name-work {
                        font-size: 20px;
                    }
                }

                .sublist {
                    margin-top: -12px;
                    margin-bottom: 15px;
                    border: 1px solid #e5e5e5;
                    border-top: none;
                    width: 650px;
                    padding-top: 27px;

                    &-item {
                        padding: 0;
                        padding-left: 20px;
                        border: none;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .project-data {
            margin-top: 60px;
            margin-bottom: 90px;

            &__content {
                margin-top: 35px;

                .project-time {
                    time {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .project-sum {
                    font-size: 20px;

                    span {
                        font-size: 14px;
                    }

                    .number {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 25px 30px 20px;
    }
}

@media(max-width: 740px) {
    .header {
        padding-bottom: 50px;

        &-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                margin-top: 50px;
            }

            .contact-info {
                margin-top: 50px;

                .person-info {
                    font-size: 20px;

                    span {
                        font-size: 22px;
                    }
                }

                a {
                    font-size: 16px;

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .main {
        padding: 100px 0 0;

        .container {
            max-width: 600px;
        }

        .notation {
            &-item {
                font-size: 16px;
                font-weight: 300;
                color: #000;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        span {
            margin-right: 10px;
        }

        .project-block {
            margin-top: 7px;

            &__item {
                .title {
                    margin-top: 50px;
                    font-size: 24px;
                }

                .project-list {
                    margin-top: 25px;

                    &__item {
                        width: 600px;
                    }

                    .sublist {
                        width: 600px;
                        margin-top: 0;
                    }

                    .hint {
                        display: none;
                    }

                    .hint-mobile {
                        display: block;
                        right: 0;
                        top: 0;
                        font-size: 16px;
                        padding-top: 7px;
                        padding-left: 16px;
                        height: 31px;
                    }
                }
            }

            .item-hint-mobile {
                padding-top: 45px;
            }

            .project-data {
                margin-top: 85px;
                margin-bottom: 195px;
                border-top: 1px solid #ccc;

                &__content {
                    margin-top: 50px;

                    .project-time {
                        time {
                            font-size: 26px;
                            font-weight: 900;

                            span {
                                display: none;
                            }
                        }

                        p {
                            font-size: 18px;
                            font-weight: 400;

                            span {
                                margin-right: 0;
                                margin-left: 5px;
                            }
                        }
                    }

                    .project-sum {
                        font-size: 26px;
                        font-weight: 900;

                        span {
                            font-size: 18px;
                            font-weight: 400;
                        }

                        .number {
                            font-size: 26px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 640px) {
    .main {
        padding: 50px 0 0;

        .container {
            padding: 0 20px;
        }

        .notation {
            flex-direction: column;
            align-items: flex-start;

            &-item {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        .project-block {
            &__item {
                .project-list {
                    margin-top: 25px;

                    &__item {
                        width: 500px;
                    }

                    .sublist {
                        width: 500px;
                    }
                }
            }
        }

        .project-data {
            &__content {
                margin-top: 30px;
                flex-direction: column;

                .project-time {
                    margin-bottom: 30px;

                    time {
                        font-size: 24px;
                    }

                    p {
                        width: 100%;
                    }
                }

                .project-sum {
                    .number {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .header {
        padding: 20px 15px 35px 15px;

        &-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                margin-top: 5px;

                img {
                    width: 96px;
                    height: 60px;
                }
            }

            .contact-info {
                margin-top: 35px;
                flex-direction: column;
                align-items: center;
                width: 100%;

                &__item {
                    text-align: center;

                    &:first-child {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .main {
        padding: 32px 0 0;

        .container {
            max-width: 400px;
        }

        .project-block {
            margin-top: 7px;

            &__item {
                .title {
                    margin-top: 45px;
                    font-size: 24px;
                }

                .project-list {
                    margin-top: 30px;

                    &__item {
                        width: 350px;
                    }

                    .no-process {
                        padding-left: 55px;
                    }

                    span {
                        margin-right: 20px;
                    }

                    .sublist {
                        width: 350px;

                        &-item {
                            padding: 0;
                            padding-left: 10px;
                            margin-bottom: 30px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .project-data {
            margin-top: 55px;
            margin-bottom: 95px;
            padding: 0 30px;

            &__content {
                margin-top: 30px;
                flex-direction: column;

                .project-time {
                    flex-direction: column;
                    align-items: flex-start;

                    time {
                        font-size: 26px;

                        span {
                            display: block;
                        }
                    }

                    p {
                        font-size: 13px;
                        font-weight: 400;
                        width: 165px;

                        span {
                            display: none;
                        }
                    }
                }

                .project-sum {
                    margin-top: 22px;

                    .number {
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 17px 0 15px;

        img {
            margin-right: 8px;
            width: 58px;
            height: 12px;
        }

        a {
            justify-content: center;
            font-size: 10px;
        }
    }
}

@media(max-width: 430px) {
    .header {
        &-content {
            .contact-info {
                margin-top: 35px;
                justify-content: flex-start;

                &__item {
                    .person-info {
                        font-size: 16px;

                        span {
                            font-size: 20px;
                        }
                    }

                    a {
                        span {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    .main {
        .container {
            max-width: 300px;
        }

        .notation {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 5px;

            &-item {
                font-weight: 400;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }

        .project-block {
            margin-top: 7px;

            &__item {
                .title {
                    margin-top: 45px;
                    font-size: 24px;
                }

                .project-list {
                    margin-top: 30px;

                    &__item {
                        width: 300px;
                        padding: 0;
                        margin-bottom: 15px;
                        align-items: stretch;
                    }

                    .item-hint-mobile {
                        padding-top: 45px;
                    }

                    .icon {
                        display: flex;
                        padding: 8px 0 0 10px;

                        span {
                            margin-right: 0;
                        }
                    }

                    .name-work {
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        width: 100%;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .no-process {
                        padding-left: 42px;
                    }

                    span {
                        margin-right: 20px;
                    }

                    .bg-gray {
                        background-color: #ededed;
                        border: none;

                        i {
                            color: #ededed;
                        }
                    }

                    .sublist {
                        margin-top: -12px;
                        margin-bottom: 15px;
                        border: 1px solid #e5e5e5;
                        border-top: none;
                        width: 300px;
                        padding-top: 27px;

                        &-item {
                            padding: 0;
                            padding-left: 10px;
                            border: none;
                            margin-bottom: 30px;
                            font-size: 18px;
                            font-weight: 400;
                            color: #000;
                        }
                    }
                }
            }
        }

        .project-data {
            margin-top: 55px;
            margin-bottom: 95px;
            padding: 0 30px;

            &__content {
                margin-top: 30px;
                flex-direction: column;

                .project-time {
                    flex-direction: column;
                    align-items: flex-start;

                    time {
                        font-size: 26px;

                        span {
                            display: block;
                        }
                    }

                    p {
                        font-size: 13px;
                        font-weight: 400;
                        width: 165px;

                        span {
                            display: none;
                        }
                    }
                }

                .project-sum {
                    margin-top: 22px;

                    .number {
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 17px 0 15px;

        img {
            margin-right: 8px;
            width: 58px;
            height: 12px;
        }

        a {
            justify-content: center;
            font-size: 10px;
        }
    }
}

@media(max-width: 430px) {

    .main {
        .container {
            padding: 0;
        }
    }
}
