$mainColor: #fbc75a;

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.flex {
    display: flex;
}

.fd-cl {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.jc-fl-end {
    justify-content: flex-end;
}

.header {
    padding-bottom: 50px;
    background-color: #fbc75a;

    .container {
        max-width: 1620px;
        margin: 0 auto;
    }

    &-content {
        .logo {
            margin-top: 68px;

            img {
                width: 202px;
                height: 126px;
            }
        }

        .nav {
            margin-top: 109px;

            &-list {
                list-style-type: none;

                &__item {
                    &:not(:last-child) {
                        margin-right: 83px;
                    }

                    a {
                        font-size: 24px;
                        font-weight: 400;
                        color: #000;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            color: #fff;
                        }
                    }

                    .active-link {
                        color: #fff;
                    }

                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .burger-menu {
        margin-top: -15px;
        display: none;

        &__item {
            width: 21px;
            height: 5px;
            background-color: #000;
            display: block;
            position: relative;
            transition: .3s;

            &:hover {
                background-color: #fff;

                &::after,
                &::before {
                    background-color: #fff;
                }
            }

            &::after,
            &::before {
                position: absolute;
                content: '';
                height: 5px;
                display: block;
                background-color: #000;
                transition: .3s;
            }

            &::before {
                width: 26px;
                top: -10px;
                left: 5px;
            }

            &::after {
                width: 16px;
                bottom: -10px;
                left: 10px;
            }
        }
    }
}

.main {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-new-renovation {
        padding-top: 95px;

        label {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        input {
            height: 50px;
            border: 1px solid #b2b2b2;
            border-radius: 6px;
            outline: none;
            padding-left: 20px;
            font-size: 22px;
            font-weight: 400;

            &::placeholder {
                opacity: 0.5;
                font-size: 22px;
                font-weight: 400;
                color: #000000;
            }
        }

        .form-item {
            width: 100%;
            margin-bottom: 40px;

            div {
                width: 320px;
            }

            .add-btn {
                width: 50px;
                height: 50px;
                background-color: #b2b2b2;
                border: none;
                cursor: pointer;
                margin-left: 15px;
                border-radius: 6px;
                position: relative;
                outline: none;

                &:hover {
                    background-color: $mainColor;
                }

                &::after {
                    width: 30px;
                    height: 4px;
                    transform: translateX(-50%);
                    margin-top: -1px;
                }

                &::before {
                    content: '';
                    width: 4px;
                    height: 30px;
                    transform: translateY(-50%);
                    margin-left: -2px;
                    margin-top: 2px;
                }

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    display: block;
                    top: 50%;
                    left: 50%;
                }
            }

            .phone {
                input {
                    width: 255px;
                }
            }
        }

        .btn {
            height: 50px;
            border-radius: 27.5px;
            outline: none;
            font-size: 24px;
            font-weight: 400;
            color: #000;
            cursor: pointer;
            transition: .5s;
            border: none;
        }

        .btn-create {
            margin-top: 50px;
            background-color: $mainColor;
            width: 320px;
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            transition: .3s;

            &:hover {
                color: #000;
            }
        }
    }
}

.footer {
    background-color: #ccc;
    padding: 25px 0 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;

    .container {
        max-width: 1620px;
        margin: 0 auto;
    }

    img {
        margin-right: 10px;
        width: 67px;
        height: 14px;
    }

    a {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;

        span {
            text-decoration: underline;
        }

        &:hover {
            color: #000;
        }
    }
}

.color-circle {
    width: 16px !important;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
}

.purple {
    background-color: #9e69af;
}

.green {
    background-color: #33b679;
}

.yellow {
    background-color: #fbc75a;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    left: -10px;
    height: 9px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 14px;
    background: url(../img/admin-5/arrow.svg);
    right: 18px;
}

.select2-container .select2-selection--single {
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}

.color-circle {
    width: 16px !important;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    margin-top: 17px;
}

@import 'media-admin-5';
