html,
body {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato'; }

.flex {
  display: flex; }

.fd-cl {
  flex-direction: column; }

.jc-sb {
  justify-content: space-between; }

.jc-c {
  justify-content: center; }

.ai-c {
  align-items: center; }

.jc-fl-end {
  justify-content: flex-end; }

.header {
  padding-bottom: 50px;
  background-color: #fbc75a; }
  .header .container {
    max-width: 1620px;
    margin: 0 auto; }
  .header-content .logo {
    margin-top: 68px; }
    .header-content .logo img {
      width: 202px;
      height: 126px; }
  .header-content .nav {
    margin-top: 109px; }
    .header-content .nav-list {
      list-style-type: none; }
      .header-content .nav-list__item:not(:last-child) {
        margin-right: 83px; }
      .header-content .nav-list__item a {
        font-size: 24px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        transition: .3s; }
        .header-content .nav-list__item a:hover {
          color: #fff; }
      .header-content .nav-list__item .active-link {
        color: #fff; }
      .header-content .nav-list__item img {
        margin-right: 15px; }
  .header .burger-menu {
    margin-top: -15px;
    display: none; }
    .header .burger-menu__item {
      width: 21px;
      height: 5px;
      background-color: #000;
      display: block;
      position: relative;
      transition: .3s; }
      .header .burger-menu__item:hover {
        background-color: #fff; }
        .header .burger-menu__item:hover::after, .header .burger-menu__item:hover::before {
          background-color: #fff; }
      .header .burger-menu__item::after, .header .burger-menu__item::before {
        position: absolute;
        content: '';
        height: 5px;
        display: block;
        background-color: #000;
        transition: .3s; }
      .header .burger-menu__item::before {
        width: 26px;
        top: -10px;
        left: 5px; }
      .header .burger-menu__item::after {
        width: 16px;
        bottom: -10px;
        left: 10px; }

.main .container {
  max-width: 700px;
  margin: 0 auto; }
.main .form-new-renovation {
  padding-top: 95px; }
  .main .form-new-renovation label {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px; }
  .main .form-new-renovation input {
    height: 50px;
    border: 1px solid #b2b2b2;
    border-radius: 6px;
    outline: none;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 400; }
    .main .form-new-renovation input::placeholder {
      opacity: 0.5;
      font-size: 22px;
      font-weight: 400;
      color: #000000; }
  .main .form-new-renovation .form-item {
    width: 100%;
    margin-bottom: 40px; }
    .main .form-new-renovation .form-item div {
      width: 320px; }
    .main .form-new-renovation .form-item .add-btn {
      width: 50px;
      height: 50px;
      background-color: #b2b2b2;
      border: none;
      cursor: pointer;
      margin-left: 15px;
      border-radius: 6px;
      position: relative;
      outline: none; }
      .main .form-new-renovation .form-item .add-btn:hover {
        background-color: #fbc75a; }
      .main .form-new-renovation .form-item .add-btn::after {
        width: 30px;
        height: 4px;
        transform: translateX(-50%);
        margin-top: -1px; }
      .main .form-new-renovation .form-item .add-btn::before {
        content: '';
        width: 4px;
        height: 30px;
        transform: translateY(-50%);
        margin-left: -2px;
        margin-top: 2px; }
      .main .form-new-renovation .form-item .add-btn::after, .main .form-new-renovation .form-item .add-btn::before {
        content: '';
        position: absolute;
        background-color: #fff;
        display: block;
        top: 50%;
        left: 50%; }
    .main .form-new-renovation .form-item .phone input {
      width: 255px; }
  .main .form-new-renovation .btn {
    height: 50px;
    border-radius: 27.5px;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    transition: .5s;
    border: none; }
  .main .form-new-renovation .btn-create {
    margin-top: 50px;
    background-color: #fbc75a;
    width: 320px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    transition: .3s; }
    .main .form-new-renovation .btn-create:hover {
      color: #000; }

.footer {
  background-color: #ccc;
  padding: 25px 0 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px; }
  .footer .container {
    max-width: 1620px;
    margin: 0 auto; }
  .footer img {
    margin-right: 10px;
    width: 67px;
    height: 14px; }
  .footer a {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none; }
    .footer a span {
      text-decoration: underline; }
    .footer a:hover {
      color: #000; }

.color-circle {
  width: 16px !important;
  height: 16px;
  display: inline-block;
  border-radius: 100%; }

.purple {
  background-color: #9e69af; }

.green {
  background-color: #33b679; }

.yellow {
  background-color: #fbc75a; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  left: -10px;
  height: 9px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 14px;
  background: url(../img/admin-5/arrow.svg);
  right: 18px; }

.select2-container .select2-selection--single {
  height: 50px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 49px;
  padding-left: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px; }

.color-circle {
  width: 16px !important;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  margin-top: 17px; }

@media (max-width: 1610px) {
  .container {
    padding: 0 20px; }

  .main-tabs {
    margin-top: 15px; } }
@media (max-width: 1120px) {
  .header .nav-list__item:not(:last-child) {
    margin-right: 43px; }
  .header .nav-list__item a {
    font-size: 20px; }
  .header .nav-list__item img {
    margin-right: 10px; }

  .main .container {
    max-width: 600px; }
  .main .form-new-renovation {
    padding-top: 25px; }
    .main .form-new-renovation label {
      font-size: 22px; }
    .main .form-new-renovation input {
      font-size: 18px; }
      .main .form-new-renovation input::placeholder {
        font-size: 18px; }
    .main .form-new-renovation .form-item {
      margin-bottom: 20px; }
      .main .form-new-renovation .form-item div {
        width: 270px; }
      .main .form-new-renovation .form-item .phone input {
        width: 210px; } }
@media (max-width: 795px) {
  .header .nav-list {
    display: none; }
  .header .burger-menu {
    margin-top: 9px;
    margin-right: 30px;
    display: block;
    cursor: pointer; }

  .main .subheader {
    padding-top: 40px; }
    .main .subheader-text__adress {
      font-size: 22px; }
    .main .subheader-text__contact .name {
      font-size: 18px; }
    .main .subheader-text__contact a {
      font-size: 14px; }
      .main .subheader-text__contact a span {
        font-size: 18px; }
    .main .subheader-share {
      margin-top: -7px; }
      .main .subheader-share button {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .5s; }
        .main .subheader-share button:hover img {
          opacity: .5; }
  .main-tabs .tabs-list a {
    font-size: 20px;
    width: 286px;
    height: 50px; }
  .main-tabs .active {
    width: 286px;
    height: 50px; }
  .main-content {
    padding: 30px 0 90px; }
    .main-content .container {
      max-width: 592px; }
    .main-content .main-form .finished-project {
      padding-right: 20px; }
      .main-content .main-form .finished-project span {
        font-size: 18px;
        font-weight: 300;
        color: #a3a3a3;
        margin-right: 20px; }
    .main-content .main-form .custom-checkbox {
      width: 26px;
      height: 26px; }
      .main-content .main-form .custom-checkbox input {
        display: none;
        outline: none; }
      .main-content .main-form .custom-checkbox span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative; }
        .main-content .main-form .custom-checkbox span::before {
          content: '';
          top: 0;
          list-style-position: outside;
          width: 24px;
          height: 24px;
          border: 1px solid #cdcdcd;
          border-radius: 100%; }
      .main-content .main-form .custom-checkbox input:not(:disabled):not(:checked) + span:hover::before {
        border-color: #fbc75a;
        transition: .5s; }
      .main-content .main-form .custom-checkbox input:checked + .checked {
        width: 26px;
        height: 26px;
        border-radius: 100%;
        background-color: #fbc75a;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-image: url("../img/admin-2/check-icon.svg");
        opacity: 1; }
    .main-content .main-form .add-file {
      margin-right: 20px; }
      .main-content .main-form .add-file input {
        display: none; }
      .main-content .main-form .add-file span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        width: 26px;
        height: 26px;
        border: 1px solid #bfbfbf;
        border-radius: 100%;
        opacity: 1; }
        .main-content .main-form .add-file span:hover {
          border-color: #fbc75a;
          transition: .5s; }
        .main-content .main-form .add-file span img {
          width: 14px;
          height: 16px;
          margin: 0 auto; }
        .main-content .main-form .add-file span .clip-white {
          display: none; }
        .main-content .main-form .add-file span .counter {
          display: none; }
      .main-content .main-form .add-file .active {
        background-color: #000;
        border-color: #000;
        position: relative;
        opacity: 1; }
        .main-content .main-form .add-file .active:hover {
          border-color: #000; }
        .main-content .main-form .add-file .active .clip {
          display: none; }
        .main-content .main-form .add-file .active .clip-white {
          display: block; }
        .main-content .main-form .add-file .active .counter {
          position: absolute;
          background: #fbc75a;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          display: block;
          color: #fff;
          border: none;
          text-align: center;
          font-size: 7px;
          padding-top: 2px;
          bottom: 15px;
          left: 20px;
          opacity: 1; }
    .main-content .main-form .param .price {
      margin-right: 30px;
      opacity: .5;
      font-size: 18px;
      font-weight: 300;
      color: #000;
      transition: .3s; }
      .main-content .main-form .param .price span {
        font-size: 13px;
        font-weight: 400;
        opacity: .5; }
    .main-content .main-form .param .active-price {
      opacity: 1;
      font-weight: 900; }
      .main-content .main-form .param .active-price span {
        font-weight: 900;
        opacity: 1; }
    .main-content .main-form .param .units {
      margin-right: 30px;
      opacity: 0.5;
      font-size: 13px;
      font-weight: 400;
      color: #000; }
    .main-content .main-form__content {
      margin-top: 75px; }
      .main-content .main-form__content .main-form__item {
        width: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 12px 20px;
        margin-bottom: 15px;
        position: relative;
        transition: .3s; }
      .main-content .main-form__content .sub-item {
        border: 1px solid #e5e5e5;
        border-top: none;
        border-radius: 5px;
        padding: 12px 20px; }
        .main-content .main-form__content .sub-item .subitem-element {
          padding-top: 36px; }
          .main-content .main-form__content .sub-item .subitem-element:last-child {
            padding-bottom: 28px; }
      .main-content .main-form__content .panel .panel-header .preitem {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
      .main-content .main-form__content .panel .panel-body {
        margin-top: -19px;
        margin-bottom: 15px; }
    .main-content .main-form .project-sum {
      margin-top: 80px;
      padding-right: 55px;
      font-size: 26px;
      font-weight: 900;
      align-items: flex-end; }
      .main-content .main-form .project-sum span {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 400; }
      .main-content .main-form .project-sum .number {
        margin-left: 30px;
        font-size: 26px;
        font-weight: 900; }
    .main-content .main-form .add-file-block {
      display: none; }
      .main-content .main-form .add-file-block .block-document {
        margin-top: 75px; }
        .main-content .main-form .add-file-block .block-document__item {
          position: relative;
          height: 186px;
          width: 186px; }
          .main-content .main-form .add-file-block .block-document__item:not(:last-child) {
            margin-right: 12px; }
          .main-content .main-form .add-file-block .block-document__item img {
            width: 186px;
            height: 186px; }
          .main-content .main-form .add-file-block .block-document__item .dark-poster {
            position: absolute;
            top: 0;
            left: 0;
            width: 186px;
            height: 186px; }
            .main-content .main-form .add-file-block .block-document__item .dark-poster:hover {
              background-color: rgba(0, 0, 0, 0.1); }
              .main-content .main-form .add-file-block .block-document__item .dark-poster:hover .btn-close {
                opacity: 1; }
            .main-content .main-form .add-file-block .block-document__item .dark-poster .btn-close {
              background-color: transparent;
              width: 13px;
              height: 13px;
              border: none;
              outline: none;
              position: relative;
              cursor: pointer;
              opacity: 0; }
              .main-content .main-form .add-file-block .block-document__item .dark-poster .btn-close::after, .main-content .main-form .add-file-block .block-document__item .dark-poster .btn-close::before {
                content: '';
                position: absolute;
                right: 10px;
                top: 9px;
                background-color: #fff;
                display: block;
                width: 3px;
                height: 13px; }
              .main-content .main-form .add-file-block .block-document__item .dark-poster .btn-close::after {
                transform: rotate(-45deg); }
              .main-content .main-form .add-file-block .block-document__item .dark-poster .btn-close::before {
                transform: rotate(45deg); }
          .main-content .main-form .add-file-block .block-document__item .progress-bar {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 65px; }
            .main-content .main-form .add-file-block .block-document__item .progress-bar svg circle {
              fill: none;
              stroke-width: 3;
              stroke: #fff; }
            .main-content .main-form .add-file-block .block-document__item .progress-bar .btn-close {
              background-color: transparent;
              width: 13px;
              height: 13px;
              border: none;
              outline: none;
              cursor: pointer;
              opacity: 1;
              position: absolute;
              top: 79px;
              left: 93px; }
              .main-content .main-form .add-file-block .block-document__item .progress-bar .btn-close::after, .main-content .main-form .add-file-block .block-document__item .progress-bar .btn-close::before {
                content: '';
                position: absolute;
                right: 10px;
                top: 9px;
                background-color: #fff;
                display: block;
                width: 3px;
                height: 13px; }
              .main-content .main-form .add-file-block .block-document__item .progress-bar .btn-close::after {
                transform: rotate(-45deg); }
              .main-content .main-form .add-file-block .block-document__item .progress-bar .btn-close::before {
                transform: rotate(45deg); }
      .main-content .main-form .add-file-block .document-list {
        list-style-type: none;
        margin-top: 50px; }
        .main-content .main-form .add-file-block .document-list__item {
          padding: 12px 20px;
          border: 1px solid #e5e5e5;
          border-radius: 5px;
          margin-bottom: 15px; }
          .main-content .main-form .add-file-block .document-list__item .document-icon {
            border: 1px solid #fbc75a;
            border-radius: 100%;
            width: 26px;
            height: 26px;
            font-size: 10px;
            font-weight: 400;
            color: #fbc75a;
            margin-right: 25px; }
          .main-content .main-form .add-file-block .document-list__item .document-name {
            font-size: 22px;
            font-weight: 400;
            color: #000;
            width: 100%; }
      .main-content .main-form .add-file-block .block-loading {
        margin-top: 85px;
        margin-bottom: 104px; }
        .main-content .main-form .add-file-block .block-loading .text {
          margin-top: 98px;
          font-size: 22px;
          line-height: 1.7; }
        .main-content .main-form .add-file-block .block-loading .loading {
          margin-top: 30px;
          margin-bottom: 102px;
          font-size: 24px;
          height: 50px;
          width: 300px; }
    .main-content .main-form .btn-block {
      margin-top: 45px;
      padding-top: 50px; }
      .main-content .main-form .btn-block__time {
        padding-right: 60px;
        margin-top: 17px;
        font-size: 13px; }
    .main-content .main-form .btn {
      height: 50px;
      font-size: 24px; }
    .main-content .main-form .cancel {
      width: 150px;
      margin-right: 80px; }
    .main-content .main-form .save {
      width: 300px; } }

/*# sourceMappingURL=admin-5.css.map */
