.skip-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  transform: translateY(-100%);
  color: $text-white;
}

.skip-link:focus {
  transform: translateY(0);
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 10px;
  opacity: 1;
  z-index: 10000;
  transition: none;
}
