// Fonts

$font-default: 'Lato', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// Color

$text-black: #000;
$text-white: #fff;
$text-default: #43ABF0;

$dark-default: #3E9CDC;


// Backgrounds

$bg-secondary: #3D4050;
$bg-default: #272733;

$desktop-screen: 1680px;
$table-screen: 1024px;
$mobile-screen: 768px;