html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover, shrink-to-fit=no, minimal-ui")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="imagetoolbar" content="no")
        meta(name="msthemecompatible" content="no")
        meta(name="cleartype" content="on")
        meta(name="HandheldFriendly" content="True")
        meta(name="format-detection" content="telephone=no")
        meta(name="format-detection" content="address=no")
        meta(name="google" value="notranslate")
        
        block head
            title= titleName