.section-title {
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: $font-secondary;

    span {
        color: $text-default;
    }
}

.section-title_light {
    color: $text-white;
}

.section-description {
    font-size: 1.8rem;
    line-height: 1.2;
    color: #BBBBBB;
}