footer.layout-footer
    .container
        .layout-footer__inner
            .layout-footer__cell.cell-md-12
                p.copyright © 2018 «LOREMIPSUM.NET» Все права защищены.
            .layout-footer__cell.cell-md-6.cell-xs-12
                nav().nav-footer
                    ul.menu-footer
                        li.menu-footer__item
                            svg.icon.icon-qiwi
                                use(xlink:href="#qiwi")
                            | QIWI wallet
                        li.menu-footer__item
                            svg.icon.icon-yandex
                                use(xlink:href="#yandex")
                            | Yandex Money
                        li.menu-footer__item
                            svg.icon.icon-web
                                use(xlink:href="#web")
                            | Web Money
            .layout-footer__cell.cell-md-6.cell-xs-12
                ul.social-list
                    li.social-list__item
                        a(href="mailto:info@ipsum228.com").social-list__link
                            svg.icon.icon-email
                                use(xlink:href="#email")
                            | info@ipsum228.com
                    li.social-list__item
                        a(href="#").social-list__link
                            svg.icon.icon-vkontakte
                                use(xlink:href="#vkontakte")
                            | Мы вконтакте