header.layout-header
    .container
        .layout-header__inner
            .layout-header__cell
                a(href="#").logo
                    | LoremIpsum.
                    span Net
            .layout-header__cell
                nav.nav
                    ul.nav-list
                        li.nav-list__item
                            a(href="#").nav-list__link.active Бизнес
                        li.nav-list__item
                            a(href="#").nav-list__link О нас
                        li.nav-list__item
                            a(href="#").nav-list__link Цены
                        li.nav-list__item
                            a(href="#").nav-list__link Оформить заказ
                button(type="button" aria-controls="menu").btn.burger.js_burger