head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	link(sizes="16x16" href="favicon-16x16.png" rel="icon" type="image/png")
	link(sizes="32x32" href="favicon-32x32.png" rel="icon" type="image/png")

	block head

	title= pageTitle

	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@800&display=swap" rel="stylesheet")

	link(href="assets/styles/app.css" rel="stylesheet")