.layout-panel
    .container
        .layout-panel__wrapper
            nav.nav
                ul.nav-list
                    li.nav-list__item
                        a(href="#").nav-list__link.active Бизнес
                    li.nav-list__item
                        a(href="#").nav-list__link О нас
                    li.nav-list__item
                        a(href="#").nav-list__link Цены
                    li.nav-list__item
                        a(href="#").nav-list__link Оформить заказ