ol.steps-list
    li.steps__item
        .step
            svg.icon.icon-step-1
                use(xlink:href="#step-1")
        span.step__text Lorem ipsum dolor sit amet
    li.steps__item
        .step
            svg.icon.icon-step-2
                use(xlink:href="#step-2")
        span.step__text Сonsecteturadipiscing elit
    li.steps__item
        .step
            svg.icon.icon-step-3
                use(xlink:href="#step-3")
        span.step__text Sed do eiusmod tempor
    li.steps__item
        .step
            svg.icon.icon-step-4
                use(xlink:href="#step-4")
        span.step__text Esse cillum doloreeu fugiat
    li.steps__item
        .step
            svg.icon.icon-step-5
                use(xlink:href="#step-5")
        span.step__text Excepteur sint occaecat cupidatat non proident