body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container__main {
    padding: 72px 0;
}

a {
    color: #000;
}

img {
    -o-object-fit: cover;
    object-fit: cover
}

.text {
    font-size: 19px;
    line-height: 28px;
}

.header {
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

main {
    margin-top: 105px;
}

.header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    padding: 24px 0;
}

.down {
    padding: 10px 0;
}

.header__logo > h1 {
    font-size: 28px;
}

.header__logo > h2 {
    font-weight: normal;
    padding: 0 0 0 8px;
    font-size: 24px;
}

.nav {
    margin-top: 19px;
}

.header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

/*.header-list__item {
    padding: 15px 14px;
    border-radius: 4px;
}*/

.header-list__item > a {
    text-decoration: none;
    font-size: 20px;    
    margin-left: 8px;
    padding: 15px 14px;
    border-radius: 4px;
}

.header-list__item a:hover {
    background: red;
    color: #fff;
}

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 35px;
    height: 4px;
    background: #ff5268;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background: #ff5268;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.section-history {
    background-image: url(../img/section.jpg);
    background-attachment: fixed;
}

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.history__left {
    min-width: 60%;
}

.history__right {
    min-width: 40%;
    background: #ffffff80;
    border-radius: 4px;
}

.history__block {
    border-radius: 4px;
    background: #fff;
    margin-right: 32px;
    padding: 15px;
}

.main__title > h2 {
    position: relative;
    font-size: 26px;
    margin-bottom: 16px;
}

.main__title > h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: #ff5268;
    bottom: -6px;
}

.history__text {
    margin-top: 16px;
}

.history__text > p {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 0;
}

.history__slider {
    padding: 4px;
    height: calc(100% - 8px);
    border-radius: 4px;
    background: #ffffff80;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.owl-stage-outer,
.owl-stage,
.owl-stage .owl-item,
.owl-carousel .owl-item img {
    height: 100%;
}


.slider > img {
    width: 100%;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: #000000a8;
    padding: 15px 0;
    text-align: center;
}

.owl-dots button.owl-dot {
    display: inline-block;
    padding: 0 10px !important;
    opacity: 0.75;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-dots button.owl-dot span:hover {
    background: #869791;
}

.owl-dots button.owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}

.owl-dots .active span {
    background: #ff5268 !important;
}

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.description-img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    border: 4px solid #ff5268;
    border-radius: 4px;

}

.description-img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.description__block {
    margin-top: 20px;
}

.description__title {
    font-size: 21px;
    padding: 12px;
    background: #eae7e7;
    -webkit-box-shadow: 0px 0px 1px 0px black;
    box-shadow: 0px 0px 1px 0px black;
    cursor: pointer;
}

.description__title:hover {
    background: #504dffeb;
    color: white;
}

.description-text {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 30px;
}

.description__text {
    display: none;
    padding: 16px 8px;
}

.active,
.active a {
    background: #ff5268;
    color: #fff;
}

.gallery {
    background-image: url(../img/gallery-fon.jpg);
    background-attachment: fixed;
}

.gallery__text .main__title > h2 {
    color: #fff;
}

.gallery__text p {
    color: #fff;
}

.gallery__block {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.img {
    height: 200px;
}

.img img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.jpg {
    border: solid 3px red;
}

.png {
    border: solid 3px blue;
}

.other {
    border: dashed 3px pink;
}

.gallery__btn {
    background: #ede1e2;
    padding: 15px;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-left: 30px;
    border-radius: 4px;
    height: 150px;
}

.gallery__btn div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ff5268;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.gallery__btn div:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    background: red;
}

.gallery__btn .deactive {
    background: #a9a9a9;
}

.contacts__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.contact-left {
    flex-basis: 60%;
}

.contact-right {
    flex-basis: 40%;
    padding-left: 20px;
}

.map {
    height: 100%;
    width: 100%;
}

.contacts__text {
    padding: 16px;
    background: #eaeaea;
    border-radius: 4px;
}

.contacts__social div {
    padding: 4px 8px;
    margin-bottom: 12px;
}

.contacts__social a {
    text-decoration: none;
}

.contacts__social i {
    font-size: 25px;
}

.phone i {
    color: #1dd01d;
}

.vk i {
    color: #2f2ff1;
}

footer {
    background: #efefef;
}

.footer {
    padding: 24px 0;
    font-weight: bold;
}

@media screen and (max-width: 1500px) {
    .container {
        max-width: 1200px;
        padding: 0 16px;
    }

    .header-list__item > a {
        padding: 10px;
        font-size: 16px;
        margin-left: 2px;
    }

    .main__title > h2 {
        font-size: 20px;
    }

    .history__text > p {
        font-size: 14px;
        line-height: 25px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 16px;
    }

    .header__block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .down {
        padding: 20px 0;
    }

    .header__logo {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 25px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .header__logo > h2 {
        font-size: 22px;
    }

    .nav {
        padding-left: 10px;
    }

    main {
        margin-top: 100px;
    }

    .history {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .history__left {
        width: 100%;
    }

    .history__right {
        width: 100%;
    }

    .history__block {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .history__text > p {
        font-size: 18px;
        line-height: 21px;
    }

    .description {
        flex-wrap: wrap;
    }

    .description-img {
        flex-basis: 100%;
    }

    .description-text {
        flex-basis: 100%;
        order: -1;
        margin-bottom: 20px;
        padding: 0;
    }

    .gallery__block {
        flex-wrap: wrap;
    }

    .gallery__img {
        flex-basis: 100%;
    }

    .gallery__btn {
        flex-basis: 100%;
        margin: 0;
    }

    .contacts__block {
        flex-wrap: wrap;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-right {
        flex-basis: 100%;
        order: -1;
        padding: 0;
    }
}

@media (max-width: 612px) {
    .container__main {
        padding: 50px 0;
    }

    .header__logo {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .header__block {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 20px 0;
        align-items: center;
    }

    .header-list {
        display: none;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: right;
        top: 60px;
        left: 0;
    }

    .header-list__item > a {
        font-size: 16px;
        padding: 0;
    }

    .active {
        background: #fff;
        color: #000;
    }

    .header-list__item > a:hover {
        background: red;
        color: #fff;
    }


    .header-list.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .burger {
        display: block;
    }

    .show-menu {
        display: none;
    }

    .header-list > li {
        margin-bottom: 7px;
    }

    .header__logo h2 {
        display: none;
    }

    main {
        margin-top: 75px;
    }

    .text {
        font-size: 13px;
        line-height: 21px;
    }

    .gallery__img {
        display: grid;
        grid-template-columns: none;
    }

    .contacts__social div {
        font-size: 14px;
    }
    
    .map {
        display: none;
    }
}
