section.section-main
    .section-main__media
        picture
            source(media="(min-width: 1024px)" srcset="assets/images/temp/bg-main.jpg")
            source(media="(max-width: 797px)" srcset="assets/images/temp/bg-main.jpg")
            img.section-main__image(src="assets/images/temp/bg-main.jpg" alt="")
    .section-main__panel
        h2.section-main__title
            span Lorem ipsum &nbsp;
            | dolor sit amet consectetur &nbsp;
            span adipiscing
        .section-main__content
            p
                strong At vero eos et accusamus et iusto odio dignissimos ducimus!
            ul
                li Totam rem aperiam eaque ipsa
                li Sit voluptatem accusantium doloremque laudantium
                li Sed ut perspiciatis, unde omnis iste natus error
        .section-main__btns
            button(type="button").btn.btn-default заказать
            button(type="button").btn.btn-secondary подробнее
