*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato';
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.inline-fl {
    display: inline-flex;
}

.fl-cl {
    flex-direction: column;
}

.ai-c {
    align-items: center;
}

.ai-fl-end {
    align-items: flex-end;
}

.ai-fl-start {
    align-items: flex-start;
}

.ai-b {
    align-items: baseline;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fl-end {
    justify-content: flex-end;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.o-h {
    overflow: hidden;
}