.section-breadcrumb {
    padding-top: 105px;

    .breadcrumb-block {
        .breadcrumb {
            list-style-type: none;

            &-item {
                text-decoration: none;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 400;
                color: #bfbfbf;

                &:after {
                    padding-left: 6px;
                    color: inherit;
                    content: "/\00a0";
                }

                &:hover {
                    opacity: .6;
                }

                &:focus {
                    opacity: .4;
                }
            }

            .breadcrumb-item__last {
                &:after {
                    display: none;
                }
            }
        }
    }
}
