.header {
    background-color: $mainColor;
    padding-bottom: 50px;
    position: relative;

    &-content {
        .logo-block {
            margin-top: 67px;

            &__img {
                margin-right: 25px;
                width: 202px;
                height: 126px;

                a {
                    &:focus {
                        outline: none;
                    }
                }

                img {
                    width: 202px;
                    height: 126px;
                }
            }

            &__text {
                margin-top: -15px;
                opacity: 0.5;
                font-size: 24px;
                line-height: 26px;
                font-weight: 300;
                text-transform: uppercase;
                color: #000000;
            }
        }

        .nav-block {
            margin-top: 110px;
            position: relative;

            .burger-menu {
                display: none;
                position: absolute;
                right: 60px;
                top: 18px;
                z-index: 5;
                transform: translateY(-50%);
                cursor: pointer;

                &__item {
                    width: 21px;
                    height: 5px;
                    background-color: #000;
                    display: block;
                    position: relative;
                    transition: .2s;

                    &:hover {
                        background-color: #fff;

                        &::after,
                        &::before {
                            background-color: #fff;
                        }
                    }

                    &::after,
                    &::before {
                        position: absolute;
                        content: '';
                        height: 5px;
                        display: block;
                        background-color: #000;
                        transition: .2s;
                    }

                    &::before {
                        width: 26px;
                        top: -10px;
                        left: 5px;
                    }

                    &::after {
                        width: 16px;
                        bottom: -10px;
                        left: 10px;
                    }
                }
            }

            .active-burger {
                top: 20px;

                .burger-menu__item {
                    width: 31px;
                    transform: rotate(45deg);
                    transition: .2s;

                    &::before {
                        top: 0px;
                        left: 0px;
                        transform: rotate(93deg);
                        width: 31px;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .nav-list {
        list-style-type: none;

        li {
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__item {
            text-decoration: none;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 900;
            color: #000000;
            transition: .2s;

            &:hover {
                color: #999;
            }

            &:focus {
                outline: none;
                opacity: .4;
            }
        }
    }

    .mobile-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $mainColor;
        z-index: 1;
        text-align: left;
        padding-left: 40px;

        .nav-list {
            flex-direction: column;
            margin-top: 155px;
            width: 40%;
            display: block;

            li {
                padding-bottom: 25px;
                border-bottom: 1px solid #000;
                margin-right: 0;
                margin-bottom: 25px;

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            &__item {
                font-size: 36px;
                line-height: 80px;
                font-weight: 900;
                color: #ffffff;

                &:hover {
                    color: #999;
                }
            }
        }

        .contact-block {
            margin-top: 70px;

            a {
                text-decoration: none;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #000000;
                transition: .2s;

                &:hover {
                    color: #999;
                }

                &:focus {
                    outline: none;
                    opacity: .4;
                }

                span {
                    font-size: 26px;
                }
            }

            .email {
                margin-top: 30px;
            }
        }
    }
}

.footer {
    padding-bottom: 50px;
    background-color: $footerColor;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
    width: 100%;

    .mobile-btn {
        display: none;
    }

    .btn {
        width: 300px;
        height: 50px;
        background-color: #000000;
        box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
        border-radius: 25px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background-color: #999;
        }

        &:focus {
            outline: none;
            opacity: .4;
        }
    }

    &-content {
        .logo-block {
            margin-top: 61px;

            &__img {
                margin-right: 20px;
                width: 161px;
                height: 100px;

                a {
                    &:focus {
                        outline: none;
                    }
                }

                img {
                    width: 161px;
                    height: 100px;
                }
            }

            &__text {
                margin-top: -11px;
                opacity: 0.5;
                font-size: 19px;
                line-height: 20px;
                font-weight: 300;
                color: #000000;
            }
        }

        .contact-block {
            margin-top: 62px;

            &__btn {
                margin-right: 95px;
            }

            &__contact {
                a {
                    text-decoration: none;
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #000000;
                    transition: .2s;

                    &:hover {
                        color: #999;
                    }

                    &:focus {
                        outline: none;
                        opacity: .4;
                    }

                    span {
                        font-size: 26px;
                    }
                }

                .email {
                    margin-top: 30px;
                    text-align: right;
                }
            }
        }
    }

    &-logo {
        margin-top: 50px;

        svg {
            margin-right: 10px;
            fill: #fff;
        }

        a {
            font-size: 12px;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            transition: .2s;

            span {
                margin-left: 5px;
                text-decoration: underline;
            }

            &:hover {
                span {
                    color: #999;
                }

                svg {
                    fill: #999;
                }
            }
        }
    }
}
