@media(max-width: 1520px) {
    .main {
        .section-content {
            .gallery-block {
                grid-template-columns: 350px 380px 350px;

                &__item {

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        border-top: 0;

                        a {
                            padding-top: 0;
                        }
                    }

                    &:nth-child(4) {
                        border-top: 1px solid #d9d9d9;
                    }

                    &:nth-child(3n + 3) {
                        border-right: 0;

                        a {
                            padding-right: 0;
                            padding-left: 30px;
                        }
                    }

                    &:nth-child(5n + 5) {
                        border-left: 1px solid #d9d9d9;

                        a {
                            padding-right: 30px;
                            padding-left: 30px;
                        }
                    }
                }
                
                .order-consultation {
                    padding: 30px;
                    border-right: 1px solid #d9d9d9;
                }
            }
        }
    }
}
