*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Lato'; }

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px; }

.flex {
  display: flex; }

.fl-cl {
  flex-direction: column; }

.ai-c {
  align-items: center; }

.ai-fl-end {
  align-items: flex-end; }

.ai-b {
  align-items: baseline; }

.jc-c {
  justify-content: center; }

.jc-sb {
  justify-content: space-between; }

.jc-fl-end {
  justify-content: flex-end; }

.grid {
  display: grid; }

.section-breadcrumb {
  padding-top: 105px; }
  .section-breadcrumb .breadcrumb-block .breadcrumb {
    list-style-type: none; }
    .section-breadcrumb .breadcrumb-block .breadcrumb-item {
      text-decoration: none;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #bfbfbf; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:after {
        padding-left: 6px;
        color: inherit;
        content: "/\00a0"; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:hover {
        opacity: .6; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:focus {
        opacity: .4; }
    .section-breadcrumb .breadcrumb-block .breadcrumb .breadcrumb-item__last:after {
      display: none; }

.header {
  background-color: #fbc75b;
  padding-bottom: 50px; }
  .header-content .logo-block {
    margin-top: 67px; }
    .header-content .logo-block__img {
      margin-right: 25px;
      width: 202px;
      height: 126px; }
      .header-content .logo-block__img a:focus {
        outline: none; }
      .header-content .logo-block__img img {
        width: 202px;
        height: 126px; }
    .header-content .logo-block__text {
      opacity: 0.5;
      font-size: 24px;
      line-height: 26px;
      font-weight: 300;
      text-transform: uppercase;
      color: #000000; }
  .header-content .nav-block {
    margin-top: 110px; }
    .header-content .nav-block .nav-list {
      list-style-type: none; }
      .header-content .nav-block .nav-list li {
        margin-right: 55px; }
        .header-content .nav-block .nav-list li:last-child {
          margin-right: 0; }
      .header-content .nav-block .nav-list__item {
        text-decoration: none;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        color: #000000;
        transition: .2s; }
        .header-content .nav-block .nav-list__item:hover {
          color: #999; }
        .header-content .nav-block .nav-list__item:focus {
          outline: none;
          opacity: .4; }

.footer {
  padding-bottom: 100px;
  background-color: #facd68;
  /*position: absolute;
  bottom: 0;
  right: 0;*/
  width: 100%; }
  .footer-content .logo-block {
    margin-top: 61px; }
    .footer-content .logo-block__img {
      margin-right: 20px;
      width: 161px;
      height: 100px; }
      .footer-content .logo-block__img a:focus {
        outline: none; }
      .footer-content .logo-block__img img {
        width: 161px;
        height: 100px; }
    .footer-content .logo-block__text {
      opacity: 0.5;
      font-size: 19px;
      line-height: 20px;
      font-weight: 300;
      color: #000000; }
  .footer-content .contact-block {
    margin-top: 62px; }
    .footer-content .contact-block__btn {
      margin-right: 95px; }
      .footer-content .contact-block__btn .btn {
        width: 300px;
        height: 50px;
        background-color: #000000;
        box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
        border-radius: 25px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: .2s; }
        .footer-content .contact-block__btn .btn:hover {
          background-color: #999; }
        .footer-content .contact-block__btn .btn:focus {
          outline: none;
          opacity: .4; }
    .footer-content .contact-block__contact a {
      text-decoration: none;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: #000000;
      transition: .2s; }
      .footer-content .contact-block__contact a:hover {
        color: #999; }
      .footer-content .contact-block__contact a:focus {
        outline: none;
        opacity: .4; }
      .footer-content .contact-block__contact a span {
        font-size: 26px; }
    .footer-content .contact-block__contact .email {
      margin-top: 30px;
      text-align: right; }

.main .section-content .title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #000000; }
.main .section-content .article {
  margin-top: 62px;
  margin-bottom: 58px; }
  .main .section-content .article .container-article {
    max-width: 782px;
    margin: 0 auto; }
  .main .section-content .article .text {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #000000; }
  .main .section-content .article-btn {
    background-color: transparent;
    width: 257px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 18px;
    font-size: 24px; }
.main .section-order {
  padding-bottom: 120px;
  padding-top: 335px;
  background: url("../img/bg_section.png") center center/cover no-repeat; }
  .main .section-order .order-consultation__text {
    font-size: 100px;
    line-height: 110px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #ffffff; }
  .main .section-order .order-consultation__btn {
    margin-top: 75px; }
    .main .section-order .order-consultation__btn button {
      width: 480px;
      height: 50px;
      background-color: #ffffff;
      box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
      border-radius: 40px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      cursor: pointer;
      border: none;
      transition: .2s; }
      .main .section-order .order-consultation__btn button:hover {
        opacity: .6; }
      .main .section-order .order-consultation__btn button:focus {
        opacity: .4s;
        outline: none; }

/*# sourceMappingURL=blog.css.map */
