*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Lato';
  position: relative;
  overflow-x: hidden; }

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px; }

button {
  outline: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inline-fl {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.fl-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-fl-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-fl-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ai-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fl-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid {
  display: grid; }

.hidden {
  display: none; }

.o-h {
  overflow: hidden; }

.section-breadcrumb {
  padding-top: 100px; }
  .section-breadcrumb .breadcrumb-block .breadcrumb {
    list-style-type: none; }
    .section-breadcrumb .breadcrumb-block .breadcrumb-item {
      text-decoration: none;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #bfbfbf; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:after {
        padding-left: 6px;
        color: inherit;
        content: "/\00a0"; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:hover {
        opacity: .6; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:focus {
        opacity: .4; }
    .section-breadcrumb .breadcrumb-block .breadcrumb .breadcrumb-item__last:after {
      display: none; }

.header {
  background-color: #fbc75b;
  padding-bottom: 50px;
  position: relative; }
  .header-content .logo-block {
    margin-top: 67px; }
    .header-content .logo-block__img {
      margin-right: 25px;
      width: 202px;
      height: 126px; }
      .header-content .logo-block__img a:focus {
        outline: none; }
      .header-content .logo-block__img img {
        width: 202px;
        height: 126px; }
    .header-content .logo-block__text {
      margin-top: -15px;
      opacity: 0.5;
      font-size: 24px;
      line-height: 26px;
      font-weight: 300;
      text-transform: uppercase;
      color: #000000; }
  .header-content .nav-block {
    margin-top: 110px;
    position: relative; }
    .header-content .nav-block .burger-menu {
      display: none;
      position: absolute;
      right: 60px;
      top: 18px;
      z-index: 5;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      cursor: pointer; }
      .header-content .nav-block .burger-menu__item {
        width: 21px;
        height: 5px;
        background-color: #000;
        display: block;
        position: relative;
        -webkit-transition: .2s;
        transition: .2s; }
        .header-content .nav-block .burger-menu__item:hover {
          background-color: #fff; }
          .header-content .nav-block .burger-menu__item:hover::after, .header-content .nav-block .burger-menu__item:hover::before {
            background-color: #fff; }
        .header-content .nav-block .burger-menu__item::after, .header-content .nav-block .burger-menu__item::before {
          position: absolute;
          content: '';
          height: 5px;
          display: block;
          background-color: #000;
          -webkit-transition: .2s;
          transition: .2s; }
        .header-content .nav-block .burger-menu__item::before {
          width: 26px;
          top: -10px;
          left: 5px; }
        .header-content .nav-block .burger-menu__item::after {
          width: 16px;
          bottom: -10px;
          left: 10px; }
    .header-content .nav-block .active-burger {
      top: 20px; }
      .header-content .nav-block .active-burger .burger-menu__item {
        width: 31px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: .2s;
        transition: .2s; }
        .header-content .nav-block .active-burger .burger-menu__item::before {
          top: 0px;
          left: 0px;
          -webkit-transform: rotate(93deg);
                  transform: rotate(93deg);
          width: 31px; }
        .header-content .nav-block .active-burger .burger-menu__item::after {
          display: none; }
  .header .nav-list {
    list-style-type: none; }
    .header .nav-list li {
      margin-right: 50px; }
      .header .nav-list li:last-child {
        margin-right: 0; }
    .header .nav-list__item {
      text-decoration: none;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 900;
      color: #000000;
      -webkit-transition: .2s;
      transition: .2s; }
      .header .nav-list__item:hover {
        color: #999; }
      .header .nav-list__item:focus {
        outline: none;
        opacity: .4; }
  .header .mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fbc75b;
    z-index: 1;
    text-align: left;
    padding-left: 40px; }
    .header .mobile-nav .nav-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 155px;
      width: 40%;
      display: block; }
      .header .mobile-nav .nav-list li {
        padding-bottom: 25px;
        border-bottom: 1px solid #000;
        margin-right: 0;
        margin-bottom: 25px; }
        .header .mobile-nav .nav-list li:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0; }
      .header .mobile-nav .nav-list__item {
        font-size: 36px;
        line-height: 80px;
        font-weight: 900;
        color: #ffffff; }
        .header .mobile-nav .nav-list__item:hover {
          color: #999; }
    .header .mobile-nav .contact-block {
      margin-top: 70px; }
      .header .mobile-nav .contact-block a {
        text-decoration: none;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #000000;
        -webkit-transition: .2s;
        transition: .2s; }
        .header .mobile-nav .contact-block a:hover {
          color: #999; }
        .header .mobile-nav .contact-block a:focus {
          outline: none;
          opacity: .4; }
        .header .mobile-nav .contact-block a span {
          font-size: 26px; }
      .header .mobile-nav .contact-block .email {
        margin-top: 30px; }

.footer {
  padding-bottom: 50px;
  background-color: #facd68;
  /*position: absolute;
  bottom: 0;
  right: 0;*/
  width: 100%; }
  .footer .mobile-btn {
    display: none; }
  .footer .btn {
    width: 300px;
    height: 50px;
    background-color: #000000;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
            box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
    border-radius: 25px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    border: none;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s; }
    .footer .btn:hover {
      background-color: #999; }
    .footer .btn:focus {
      outline: none;
      opacity: .4; }
  .footer-content .logo-block {
    margin-top: 61px; }
    .footer-content .logo-block__img {
      margin-right: 20px;
      width: 161px;
      height: 100px; }
      .footer-content .logo-block__img a:focus {
        outline: none; }
      .footer-content .logo-block__img img {
        width: 161px;
        height: 100px; }
    .footer-content .logo-block__text {
      margin-top: -11px;
      opacity: 0.5;
      font-size: 19px;
      line-height: 20px;
      font-weight: 300;
      color: #000000; }
  .footer-content .contact-block {
    margin-top: 62px; }
    .footer-content .contact-block__btn {
      margin-right: 95px; }
    .footer-content .contact-block__contact a {
      text-decoration: none;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: #000000;
      -webkit-transition: .2s;
      transition: .2s; }
      .footer-content .contact-block__contact a:hover {
        color: #999; }
      .footer-content .contact-block__contact a:focus {
        outline: none;
        opacity: .4; }
      .footer-content .contact-block__contact a span {
        font-size: 26px; }
    .footer-content .contact-block__contact .email {
      margin-top: 30px;
      text-align: right; }
  .footer-logo {
    margin-top: 50px; }
    .footer-logo svg {
      margin-right: 10px;
      fill: #fff; }
    .footer-logo a {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s; }
      .footer-logo a span {
        margin-left: 5px;
        text-decoration: underline; }
      .footer-logo a:hover span {
        color: #999; }
      .footer-logo a:hover svg {
        fill: #999; }

.popup {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 40px;
  z-index: 10; }
  .popup-btn button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    margin-bottom: 70px;
    width: 31px;
    height: 31px;
    outline: none; }
    .popup-btn button:focus {
      opacity: .4; }
    .popup-btn button:hover::after, .popup-btn button:hover::before {
      background-color: #999; }
    .popup-btn button::after, .popup-btn button::before {
      content: '';
      position: absolute;
      display: block;
      width: 5px;
      height: 30px;
      background-color: #000;
      right: 15px;
      top: 0; }
    .popup-btn button::after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .popup-btn button::before {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .popup-content .popup-main {
    padding: 95px 300px 98px;
    background-color: #fbc75b;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
            box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
    border-radius: 24px 24px 0px 0px; }
    .popup-content .popup-main__text {
      max-width: 700px; }
      .popup-content .popup-main__text h2 {
        font-size: 36px;
        line-height: 30px;
        font-weight: 900;
        color: #000000; }
      .popup-content .popup-main__text p {
        margin-top: 25px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: #000000; }
    .popup-content .popup-main__btn button {
      width: 348px;
      height: 50px;
      background-color: #000000;
      -webkit-box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
              box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
      border-radius: 25px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400;
      color: #ffffff;
      border: none;
      outline: none;
      cursor: pointer; }
      .popup-content .popup-main__btn button:hover {
        background-color: #999; }

.main {
  position: relative; }
  .main .bg {
    position: absolute;
    background-color: #ededed;
    content: '';
    top: 490px;
    height: 1296px;
    z-index: -1;
    width: 100%;
    display: block; }
  .main .section-content .title {
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #000000; }
  .main .section-content .article {
    margin-top: 62px;
    margin-bottom: 58px; }
    .main .section-content .article .container-article {
      max-width: 782px;
      margin: 0 auto; }
    .main .section-content .article .text {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: #000000; }
    .main .section-content .article .main-text {
      font-size: 22px;
      line-height: 33px;
      font-weight: 700;
      color: #000000; }
    .main .section-content .article-btn {
      background-color: transparent;
      width: 257px;
      height: 36px;
      border: 1px solid #000000;
      border-radius: 18px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      -webkit-transition: .2s;
      transition: .2s; }
      .main .section-content .article-btn:hover {
        color: #fbc75b;
        border-color: #fbc75b; }
  .main .section-content small {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #bfbfbf; }
  .main .section-content .block-video .container {
    max-width: 948px;
    margin: 0 auto;
    padding: 0; }
  .main .section-content .block-video .video {
    margin-top: 17px; }
  .main .section-content .slider .slider-content {
    margin-top: 17px;
    position: relative;
    width: 100%;
    height: 650px;
    margin-bottom: -25px; }
  .main .section-content .slider .container {
    max-width: 948px;
    margin: 0 auto;
    position: relative; }
  .main .section-content .slider-block {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .main .section-content .slider-block__item img {
      padding-right: 30px;
      border-right: 1px solid #d9d9d9; }
  .main .section-content .slider .owl-carousel .owl-item {
    width: auto !important; }
    .main .section-content .slider .owl-carousel .owl-item img {
      width: auto; }
  .main .section-content .slider .owl-stage-outer {
    overflow: visible; }
    .main .section-content .slider .owl-stage-outer .owl-stage {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: auto; }
    .main .section-content .slider .owl-stage-outer .owl-item {
      margin-right: 30px; }
  .main .section-content .slider .owl-nav {
    margin-top: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative; }
    .main .section-content .slider .owl-nav .prev {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
      margin-right: 40px; }
    .main .section-content .slider .owl-nav .bg-arrow {
      position: absolute;
      z-index: -1;
      top: -25px;
      right: -35px; }
      .main .section-content .slider .owl-nav .bg-arrow path {
        -webkit-transition: all .5s;
        transition: all .5s; }
    .main .section-content .slider .owl-nav .owl-prev,
    .main .section-content .slider .owl-nav .owl-next {
      outline: none;
      cursor: pointer;
      border: none; }
    .main .section-content .slider .owl-nav .block-next:hover .bg-arrow path {
      -webkit-transition: all .5s;
      transition: all .5s;
      d: path("M47.000,2.999 C65.687,8.083 72.225,27.321 67.000,43.999 C61.634,61.128 43.367,71.035 23.000,65.999 C2.922,61.036 -6.174,29.823 5.000,15.000 C18.893,-3.430 38.162,0.595 47.000,2.999 Z"); }
  .main .section-content .insert-block__text {
    max-width: 735px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000; }
  .main .section-content .container-insert {
    max-width: 845px;
    margin: 0 auto; }
  .main .section-content .insert-btn button {
    width: 480px;
    height: 50px;
    background-color: #000000;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
            box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: .2s;
    transition: .2s; }
    .main .section-content .insert-btn button:hover {
      background-color: #999;
      color: #000; }
  .main .section-articles {
    padding-bottom: 175px; }
    .main .section-articles .container {
      max-width: 1622px;
      margin: 0 auto; }
    .main .section-articles .articles-content {
      margin-top: 210px; }
      .main .section-articles .articles-content-left {
        padding-top: 190px;
        margin-right: 100px; }
      .main .section-articles .articles-content .articles-block__img {
        margin-bottom: -209px; }
        .main .section-articles .articles-content .articles-block__img img {
          width: 100%; }
      .main .section-articles .articles-content .articles-block__text {
        background-color: #fff;
        padding: 38px 17px 35px 40px;
        max-width: 611px; }
        .main .section-articles .articles-content .articles-block__text a {
          text-decoration: none;
          color: #000;
          -webkit-transition: .2s;
          transition: .2s; }
          .main .section-articles .articles-content .articles-block__text a:hover {
            color: #fbc75b; }
        .main .section-articles .articles-content .articles-block__text h3 {
          font-size: 36px;
          line-height: 40px;
          font-weight: 900; }
        .main .section-articles .articles-content .articles-block__text p {
          margin-top: 20px;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 400; }
  .main .section-order {
    padding-bottom: 120px;
    padding-top: 335px;
    background: url("../img/bg_section.png") center center/cover no-repeat; }
    .main .section-order .order-consultation__text {
      font-size: 100px;
      line-height: 110px;
      font-weight: 900;
      letter-spacing: 0.025em;
      color: #ffffff; }
    .main .section-order .order-consultation__btn {
      margin-top: 75px; }
      .main .section-order .order-consultation__btn button {
        width: 480px;
        height: 50px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
                box-shadow: 0px 5px 15px 0px rgba(40, 40, 40, 0.3);
        border-radius: 40px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
        border: none;
        -webkit-transition: .2s;
        transition: .2s; }
        .main .section-order .order-consultation__btn button:hover {
          background-color: #999;
          color: #fff; }
        .main .section-order .order-consultation__btn button:focus {
          opacity: .4;
          outline: none; }

@media (max-width: 1430px) {
  .main .section-articles .articles-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main .section-articles .articles-content-left {
      padding-top: 0;
      margin-right: 0; } }
@media (max-width: 1300px) {
  .header-content .logo-block {
    margin-top: 64px; }
    .header-content .logo-block__img {
      margin-right: 17px;
      width: 143px;
      height: 89px; }
    .header-content .logo-block img {
      width: 143px;
      height: 89px; }
    .header-content .logo-block__text {
      font-size: 17px; }
  .header-content .nav-block {
    margin-top: 90px; }
    .header-content .nav-block .nav-list li {
      margin-right: 30px; }
      .header-content .nav-block .nav-list li:last-child {
        margin-right: 0; }
    .header-content .nav-block .nav-list__item {
      font-size: 20px; } }
@media (max-width: 1125px) {
  .main .section-order .order-consultation__text {
    font-size: 60px; } }
@media (max-width: 1024px) {
  .container {
    padding: 0 40px; }

  .main .section-content .title {
    max-width: 645px; }
  .main .section-content .block-video .video iframe {
    width: 761px;
    height: 427px; }
  .main .section-content .slider .owl-carousel .owl-item img {
    width: 761px;
    height: 427px; }
  .main .section-articles .articles-content .articles-block__img {
    width: 100%; }
  .main .section-articles .articles-content .articles-block__text:not(.block-img) {
    max-width: 100%;
    padding-left: 0; } }
@media (max-width: 950px) {
  .header-content .nav-block .nav-list__desk {
    display: none; }
  .header-content .nav-block .burger-menu {
    display: block; } }
@media (max-width: 400px) {
  .header {
    padding-bottom: 6px;
    padding-top: 20px;
    position: relative; }
    .header-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header-content .logo-block {
        margin-top: 0; }
        .header-content .logo-block__img img {
          width: 149px;
          height: 89px; }
        .header-content .logo-block__text {
          display: none; }
      .header-content .nav-block {
        position: absolute;
        left: 60px;
        top: -50px;
        width: 35px;
        height: 31px; }

  .section-breadcrumb {
    display: none; }

  .container {
    padding: 0 10px; } }

/*# sourceMappingURL=blog.css.map */