*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Lato';
  position: relative;
  overflow-x: hidden; }

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fl-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-fl-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-fl-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ai-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fl-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid {
  display: grid; }

.hidden {
  display: none; }

.section-breadcrumb {
  padding-top: 105px; }
  .section-breadcrumb .breadcrumb-block .breadcrumb {
    list-style-type: none; }
    .section-breadcrumb .breadcrumb-block .breadcrumb-item {
      text-decoration: none;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #bfbfbf; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:after {
        padding-left: 6px;
        color: inherit;
        content: "/\00a0"; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:hover {
        opacity: .6; }
      .section-breadcrumb .breadcrumb-block .breadcrumb-item:focus {
        opacity: .4; }
    .section-breadcrumb .breadcrumb-block .breadcrumb .breadcrumb-item__last:after {
      display: none; }

.header {
  background-color: #fbc75b;
  padding-bottom: 50px; }
  .header-content .logo-block {
    margin-top: 67px; }
    .header-content .logo-block__img {
      margin-right: 25px;
      width: 202px;
      height: 126px; }
      .header-content .logo-block__img a:focus {
        outline: none; }
      .header-content .logo-block__img img {
        width: 202px;
        height: 126px; }
    .header-content .logo-block__text {
      opacity: 0.5;
      font-size: 24px;
      line-height: 26px;
      font-weight: 300;
      text-transform: uppercase;
      color: #000000; }
  .header-content .nav-block {
    margin-top: 110px;
    position: relative; }
    .header-content .nav-block .nav-list {
      list-style-type: none; }
      .header-content .nav-block .nav-list li {
        margin-right: 55px; }
        .header-content .nav-block .nav-list li:last-child {
          margin-right: 0; }
      .header-content .nav-block .nav-list__item {
        text-decoration: none;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        color: #000000;
        -webkit-transition: .2s;
        transition: .2s; }
        .header-content .nav-block .nav-list__item:hover {
          color: #999; }
        .header-content .nav-block .nav-list__item:focus {
          outline: none;
          opacity: .4; }
    .header-content .nav-block .burger-menu {
      display: none;
      position: absolute;
      right: 60px;
      top: 18px;
      z-index: 5;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .header-content .nav-block .burger-menu__item {
        width: 21px;
        height: 5px;
        background-color: #000;
        display: block;
        position: relative;
        -webkit-transition: .2s;
        transition: .2s; }
        .header-content .nav-block .burger-menu__item:hover {
          background-color: #fff; }
          .header-content .nav-block .burger-menu__item:hover::after, .header-content .nav-block .burger-menu__item:hover::before {
            background-color: #fff; }
        .header-content .nav-block .burger-menu__item::after, .header-content .nav-block .burger-menu__item::before {
          position: absolute;
          content: '';
          height: 5px;
          display: block;
          background-color: #000;
          -webkit-transition: .2s;
          transition: .2s; }
        .header-content .nav-block .burger-menu__item::before {
          width: 26px;
          top: -10px;
          left: 5px; }
        .header-content .nav-block .burger-menu__item::after {
          width: 16px;
          bottom: -10px;
          left: 10px; }

.footer {
  padding-bottom: 100px;
  background-color: #fbc75b;
  /*position: absolute;
  bottom: 0;
  right: 0;*/
  width: 100%; }
  .footer-content .logo-block {
    margin-top: 61px; }
    .footer-content .logo-block__img {
      margin-right: 20px;
      width: 161px;
      height: 100px; }
      .footer-content .logo-block__img a:focus {
        outline: none; }
      .footer-content .logo-block__img img {
        width: 161px;
        height: 100px; }
    .footer-content .logo-block__text {
      margin-top: -11px;
      opacity: 0.5;
      font-size: 19px;
      line-height: 20px;
      font-weight: 300;
      color: #000000; }
  .footer-content .contact-block {
    margin-top: 62px; }
    .footer-content .contact-block__btn {
      margin-right: 95px; }
      .footer-content .contact-block__btn .btn {
        width: 300px;
        height: 50px;
        background-color: #000000;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
                box-shadow: 0px 5px 15px 0px rgba(82, 59, 0, 0.3);
        border-radius: 25px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        border: none;
        cursor: pointer;
        -webkit-transition: .2s;
        transition: .2s; }
        .footer-content .contact-block__btn .btn:hover {
          background-color: #999; }
        .footer-content .contact-block__btn .btn:focus {
          outline: none;
          opacity: .4; }
    .footer-content .contact-block__contact a {
      text-decoration: none;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: #000000;
      -webkit-transition: .2s;
      transition: .2s; }
      .footer-content .contact-block__contact a:hover {
        color: #999; }
      .footer-content .contact-block__contact a:focus {
        outline: none;
        opacity: .4; }
      .footer-content .contact-block__contact a span {
        font-size: 26px; }
    .footer-content .contact-block__contact .email {
      margin-top: 30px;
      text-align: right; }

.main {
  position: relative; }
  .main .bg {
    position: absolute;
    background-color: #ededed;
    content: '';
    top: 600px;
    height: 1296px;
    z-index: -1;
    width: 100%;
    display: block; }
  .main .section-content {
    padding-bottom: 180px; }
    .main .section-content .title {
      margin-top: 25px;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 900;
      letter-spacing: 0.025em;
      color: #000000; }
    .main .section-content .tag-block {
      margin-top: 50px; }
      .main .section-content .tag-block__item {
        padding: 13px 0px 11px 25px;
        background-color: #d9d9d9;
        border-radius: 20px;
        margin-right: 20px;
        cursor: pointer;
        height: 40px; }
        .main .section-content .tag-block__item:hover {
          background-color: #999; }
        .main .section-content .tag-block__item span {
          font-size: 18px;
          line-height: 1.2;
          font-weight: 400;
          color: #000000;
          margin-right: 20px; }
        .main .section-content .tag-block__item button {
          margin-right: 10px;
          width: 18px;
          height: 18px;
          background-color: transparent;
          border: none;
          cursor: pointer; }
          .main .section-content .tag-block__item button:focus {
            outline: none; }
          .main .section-content .tag-block__item button svg {
            fill: #fff; }
      .main .section-content .tag-block .inactive-item {
        background-color: #fff;
        border: 1px solid #999;
        -webkit-transition: .2s;
        transition: .2s; }
        .main .section-content .tag-block .inactive-item:hover {
          background-color: #999; }
          .main .section-content .tag-block .inactive-item:hover span {
            color: #fff; }
        .main .section-content .tag-block .inactive-item span {
          color: #999; }
        .main .section-content .tag-block .inactive-item svg {
          fill: #000;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg); }
    .main .section-content .gallery-block {
      margin-top: 85px;
      grid-template-columns: 350px 380px 380px 350px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: none; }
      .main .section-content .gallery-block__item {
        border-right: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9; }
        .main .section-content .gallery-block__item a {
          text-decoration: none;
          padding: 30px; }
          .main .section-content .gallery-block__item a:hover {
            opacity: .6; }
        .main .section-content .gallery-block__item:nth-child(1), .main .section-content .gallery-block__item:nth-child(2), .main .section-content .gallery-block__item:nth-child(3), .main .section-content .gallery-block__item:nth-child(4) {
          border-top: 0; }
          .main .section-content .gallery-block__item:nth-child(1) a, .main .section-content .gallery-block__item:nth-child(2) a, .main .section-content .gallery-block__item:nth-child(3) a, .main .section-content .gallery-block__item:nth-child(4) a {
            padding-top: 0; }
        .main .section-content .gallery-block__item:nth-child(4n + 1) a {
          padding-left: 0;
          padding-right: 30px; }
        .main .section-content .gallery-block__item:nth-child(2) a, .main .section-content .gallery-block__item:nth-child(3) a {
          padding-left: 30px;
          padding-right: 30px; }
        .main .section-content .gallery-block__item:nth-child(4n + 4) {
          border-right: 0; }
          .main .section-content .gallery-block__item:nth-child(4n + 4) a {
            padding-right: 0;
            padding-left: 30px; }
        .main .section-content .gallery-block__item .gallery-img img {
          width: 100%;
          max-width: 320px;
          max-height: 415px; }
        .main .section-content .gallery-block__item .gallery-info {
          margin-top: 25px; }
          .main .section-content .gallery-block__item .gallery-info .adress {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            color: #bfbfbf; }
          .main .section-content .gallery-block__item .gallery-info .object {
            font-size: 26px;
            font-weight: 700;
            color: #000000; }
            .main .section-content .gallery-block__item .gallery-info .object .place:after {
              padding-left: 8px;
              opacity: .4;
              content: "/\00a0"; }
          .main .section-content .gallery-block__item .gallery-info .time {
            font-size: 24px;
            font-weight: 700;
            color: #000000; }
          .main .section-content .gallery-block__item .gallery-info .description-list {
            margin-top: 13px;
            list-style-type: none; }
            .main .section-content .gallery-block__item .gallery-info .description-list li {
              color: #000;
              font-size: 18px; }
      .main .section-content .gallery-block .order-consultation__content {
        padding: 60px 35px 57px 30px;
        background-color: #fc76b3;
        background-image: linear-gradient(-45deg, #ffb533 14%, #facd68 85%);
        height: 100%; }
      .main .section-content .gallery-block .order-consultation__text {
        font-size: 26px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff; }
      .main .section-content .gallery-block .order-consultation__btn button {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        cursor: pointer; }
        .main .section-content .gallery-block .order-consultation__btn button:hover {
          opacity: .6; }
        .main .section-content .gallery-block .order-consultation__btn button:focus {
          opacity: .4; }

@media (max-width: 1430px) {
  .main .section-articles .articles-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main .section-articles .articles-content-left {
      padding-top: 0;
      margin-right: 0; } }
@media (max-width: 1300px) {
  .header-content .logo-block {
    margin-top: 64px; }
    .header-content .logo-block__img {
      margin-right: 17px;
      width: 143px;
      height: 89px; }
    .header-content .logo-block img {
      width: 143px;
      height: 89px; }
    .header-content .logo-block__text {
      font-size: 17px; }
  .header-content .nav-block {
    margin-top: 90px; }
    .header-content .nav-block .nav-list li {
      margin-right: 30px; }
      .header-content .nav-block .nav-list li:last-child {
        margin-right: 0; }
    .header-content .nav-block .nav-list__item {
      font-size: 20px; } }

/*# sourceMappingURL=projects.css.map */