header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    min-height: 15px;
    margin: 0;
    padding: 0;
}

header nav a {
    text-align: center;
    display: inline-block;
    padding: 10px 50px;
    font-size: 22px;
    margin-top: 1%;
    color: #fff;
    text-decoration: none;
}

/*header ul li {
    display: inline-block;
    padding: 10px 50px;
    font-size: 22px;
    margin-top: 1%;
}*/

header a:hover,
header .active a {
    color: #996356;
    text-decoration: none;
}

.icon {
    display: none;
}

#about-us img {
    border-radius: 100%;
    width: 120px;
    height: 100px;
}

.imgCenter {
    text-align: center;
    padding: 0;
}

#about-us .text {
    margin-bottom: 20px;
}

#about-us h3 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.slider,
.header {
    position: absolute;
}


h2 {
    text-align: center;
    padding-top: 10px;
}

.black h2 {
    color: #996356;
}

footer {
    background: #996356;
    padding-top: 15px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    max-height: 60px;
    font-size: 22px;
}

section .container {
    width: 100%;
    min-height: 550px;
    /*max-height: 400px;
    max-width: 1150px;*/
}

.slider1 {
    width: 100%;
}

.slider2 {
    margin-bottom: 20px;
}

.owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.owl-dots button.owl-dot {
    display: inline-block;
    padding: 0 10px !important;
    opacity: 0.75;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-dots button.owl-dot span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #bcbcbc;
    border-radius: 100%;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}

.owl-dots button.owl-dot.active span {
    background: #996356;
}

.services {
    background-image: url(fon9.jpg);
}

.services h2 {
    padding-bottom: 10px
}

#gallery {
    background-image: url(fon7.png);
    background-repeat: repeat;
}

#gallery .gallery {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#gallery img {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}


#contacts h2 {
    margin-bottom: 20px;
}

#fb1 {
    margin-top: 20px;
}

#fb1 h2 {
    color: #996356;
}

#fb1 input {
    border-radius: 10px;
}

#fb1 button {
    background: #996356;
    border-radius: 5px;
    font-size: 16px;
}


.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #ccc;
    margin-top: -20px;
    border-radius: 100%;
    opacity: 0.75;
    text-align: center;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    opacity: 0.95;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -80px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -60px;
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i {
    color: #996356;
    font-size: 24px;
    line-height: 40px;
}

table {
    background: white;
    border-radius: 10px;

}

#prices .table {
    font-size: 22px;
    color: #000;
}

#prices table {
    text-align: left;
}

#prices table span {
    margin-left: 40px;
}

#prices th {
    cursor: pointer;
}

#prices td {
    cursor: default;
}

#lp-map {
    height: 400px;
    margin: 20px;
}

.fon {
    color: azure;
}

.fon span {
    color: #000;
}

p {
    font-size: 18px;
}

/*Кнопка наверх*/

#toTop {
    width: 100px;
    border: 1px solid #996356;
    background: #996356;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-family: verdana;
    font-size: 11px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 200;
}

@media screen and (max-width: 1500px) {
    nav {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        margin-left: -5%;
    }
}


@media screen and (max-width: 1010px) {
    
    .row {
        grid-template-columns: auto;
    }
    
    header nav a {
        display: none;
    }
    
    header a.icon {
        float: right;
        margin-top: -5px;
        display: block;
        color: #fff;
        font-size: 30px;
    }
    nav {
        width: 100%;
    }
    
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -60px;
    }
    
    header .topnav.responsive {
        height: 340px;        
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        top: -30px;
        right: -170px;
    }
    
     .topnav.responsive a {
        float: none;
         display: block;
         text-align: left;
    }
}
