$main-color: #3D3D3D;

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $main-color;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 30px;
    line-height: 37px;
}

.flex {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.jc-fl-end {
    justify-content: flex-end;
}

.jc-fl-start {
    justify-content: flex-start;
}

.fd-cl {
    flex-direction: column;
}

.btn {
    background: #6059F7;
    border-radius: 200px;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    height: 60px;
}

.header {
    padding: 13px 87px 13px 80px;

    &-logo {
        width: 70px;
        height: 75px;
    }

    .navigation {
        list-style-type: none;
        height: 35px;

        li {
            padding-bottom: 10px;
            
            &:not(:last-child) {
                margin-right: 50px;
            }

            &:hover {
                border-bottom: 2px solid #36C3FE;
            }
        }

        a {
            text-decoration: none;
            color: $main-color;
            font-size: 18px;
        }

        .join {
            color: #36C3FE;
            font-weight: bold;
        }
    }
}

.subheader {
    background: url('../img/bg-sub-header.jpg') center (center / cover) no-repeat;
    padding: 125px 0 150px;
    height: 95vh;

    &-content {
        max-width: 615px;

        h1 {
            font-weight: bold;
            font-size: 80px;
        }

        .subtitle {
            max-width: 500px;
            margin-top: 65px;
        }

        .one-button {
            margin-top: 60px;

            .btn {
                width: 175px;
            }

            i {
                color: #fff;
                margin-left: 20px;
                font-size: 14px;
            }
        }
    }
}

.advantages {
    /* background: url('../img/bg-section-adv.png') center (center / cover) no-repeat;
    padding: 50px 0 640px;*/

    .container {
        background: url('../img/bg-section-adv.png') center (center / cover) no-repeat;
        padding: 50px 60px 640px;
    }
}

.video {
    padding-top: 50px;
    text-align: center;

    .subtitle {
        margin-top: 50px;
    }

    .block-video {
        margin-top: 40px;

        img {
            width: 100%;
        }
    }
}

.courses {
    margin-top: 60px;
    text-align: center;

    &-block {
        margin-top: 45px;

        &__item {
            height: 300px;
            width: 33.33%;
            cursor: pointer;
        }

        .one {
            background: #6059F7;
        }

        .two {
            background: #6592FE;
        }

        .three {
            background: #8C61FF;
        }

        h3 {
            margin-top: 30px;
            font-weight: bold;
            font-size: 30px;
            color: #fff;
        }

        &-img {
            margin-top: 30px;
        }
    }
}

.language {
    margin-top: 55px;
    text-align: center;
    padding-bottom: 65px;

    &-block {
        margin-top: 130px;
        position: relative;
        /*border-bottom: 1px solid #ADABAB;*/
        
        &::after {
            content: "";
            width: 100vw;
            height: 1px;
            background: #ADABAB;
            position: absolute;
            bottom: .5px;
            left: 0;
            z-index: 0;
        }
        
        .container {
            height: 131px;
        }

        &__item {
            text-decoration: none;
            text-align: center;
            padding-bottom: 20px;
            position: relative;
            z-index: 1;
            padding-bottom: 30px;
            height: 131px;

            &:hover img {
                width: 64px;
                height: 44px;
                box-shadow: 10px 10px 43px -7px rgba(0, 0, 0, 0.5);
            }
            
            &:hover {
                border-bottom: 2px solid #36C3FE;
            }
        }

        &-img {
            width: 54px;
            height: 34px;
            transition: all .4s;
        }

        &-text {
            margin-top: 30px;
            font-size: 30px;
        }
    }

    &-button {
        margin-top: 30px;

        .btn {
            width: 220px;
            height: 60px;
            background: #ADABAB;
            border-radius: 200px;
            font-size: 18px;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
            transition: background .7s;

            &:hover {
                background: #6059F7;
            }

            &:first-child {
                margin-right: 30px;
            }
        }
    }
}

.testimonials {
    background: url('../img/bg-testimonials.jpg') center (center / cover) no-repeat;
    padding-bottom: 55px;

    .slide {
        margin: 0 auto;
        margin-top: 50px;

        &-item {
            height: 310px;
            width: 915px;
            margin: 0 auto;
            padding: 40px 50px 0 40px;
            background: rgba(255, 255, 255, .5);

            &__img {
                margin-right: 45px;
            }

            &__block {
                width: 590px;
            }

            &-text-block {
                h3 {
                    font-weight: bold;
                    font-size: 24px;
                }

                .star {
                    i {
                        color: #ADABAB;

                        &.active {
                            color: #6059F7;
                        }
                    }
                }
            }

            &-text {
                margin-top: 25px;
                font-size: 24px;
            }
        }
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        top: 50%;
        width: 27px;
        height: 69px;
        margin-top: -20px;
        opacity: 0.75;
        text-align: center;
        transition: opacity .25s;
    }

    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-next:hover {
        opacity: 0.95;
    }

    .owl-carousel .owl-nav button.owl-prev:focus,
    .owl-carousel .owl-nav button.owl-next:focus {
        outline: none;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 25px;
        background: url('../img/arrow.svg');
        background-repeat: no-repeat;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 25px;
        background: url('../img/arrow.svg');
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }

    .owl-dots {
        position: absolute;
        left: 0;
        bottom: -105px;
        width: 100%;
        text-align: center;
    }

    .owl-dots button.owl-dot {
        display: inline-block;
        padding: 0 10px !important;
    }

    .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .owl-dots button.owl-dot span {
        display: inline-block;
        width: 13px;
        height: 13px;
        background: #fff;
        border-radius: 100%;
        transition: background-color .25s;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    .owl-dots button.owl-dot.active span {
        background: #8C61FF;
    }

    &-button {
        margin-top: 110px;

        .btn {
            width: 220px;
        }
    }
}

.footer {
    padding: 30px 0 35px;

    &-text {
        margin-right: 175px;
        font-size: 18px;
    }

    &-social {
        a {
            &:not(:last-child) {
                margin-right: 60px;
            }
        }

        i {
            color: #ADABAB;
            font-size: 30px;
        }
    }
}

@import "media";
